body {
    background-color: #f5f5f5;
}

#sentiment {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><text y=".9em" font-size="90">😃</text></svg>');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    display: block;
}

#sentiment[data-sentiment="pos"] {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><text y=".9em" font-size="90">😃</text></svg>');
}

#sentiment[data-sentiment="neu"] {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><text y=".9em" font-size="90">😐</text></svg>');
}

#sentiment[data-sentiment="neg"] {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><text y=".9em" font-size="90">😔</text></svg>');
}